{% extends "base.html" %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm">
        <p>This is hobby project. Map shows where Instagram pictures were taken. Currently, only pictures from locations in Slovenia are being displayed. You can click on thumbnail to display larger picture and view caption, location and to see links to the location/post. Hastags and some other data is removed from caption. This project is still work in progress.</p>
        <p>Data is being refreshed in about one day.</p>
        <h3>DISCLAIMER</h3>
        <p>This is an unofficial application. It is not, in any way, endorsed by Instagram / Facebook. All media is owned by Instagram / Facebook and/or by the authors. Original Instagram post can be viewed by clicking on the image. If link is not accessible, it is due to bug that prevents data from being read correctly. Data will be updated.</p>
        <p>Icons: https://commons.wikimedia.org/wiki/File:Picture_icon_BLACK.svg</p>
    </div>
  </div>
</div>


{% endblock content %}