{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm">
      <div id="mapid"></div>
    </div>
  </div>
</div>
<script>

    function httpGetAsync(theUrl, callback){
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.onreadystatechange = function() {
            if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
                callback(xmlHttp.responseText);
        }
        xmlHttp.open("GET", theUrl, true); // true for asynchronous
        xmlHttp.send(null);
    }

    function reloadEmbed() {
        setTimeout(function() {
          window.instgrm.Embeds.process();
        }, 5)
    }


    var markers = L.markerClusterGroup({
        spiderfyDistanceMultiplier: 2.7
    });

	var mymap = L.map('mapid').setView([51.505, -0.09], 4);
	mymap.on('popupopen', function(e) {
      reloadEmbed();
    });

    httpGetAsync("locations", function(l){
        var locations = JSON.parse(l);
        console.log(locations)

        httpGetAsync("photos", function(p) {
            var photos = JSON.parse(p)

             photos.forEach(function(img){
                let loc = locations.filter(function(l){return l.id == img.location_id})[0]

                name = loc["name"]
                lat = loc["lat"];
                lng = loc["lng"];
                let website = loc["website"]
                let url = loc["url"]

                console.log(loc);

                let myIcon = L.icon({
                    iconUrl: "https://image.flaticon.com/icons/png/128/55/55999.png",
                    iconSize: [70, 70],
                    popupAnchor: [-3, -30],
                });

                let m = L.marker([lat, lng], {
                    icon: myIcon
                });
                m.bindPopup("<div class='embed-container'><blockquote class='instagram-media' data-instgrm-permalink='https://www.instagram.com/p/"+img["id"]+"/?utm_source=ig_embed&amp;utm_campaign=loading' data-instgrm-version='13' target='_blank'>A post shared by zerowaste spletna trgovina (@tidy_owl)</a></p></div></blockquote></div>").openPopup();

                markers.addLayer(m);
             })
        });
    });


	L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
		maxZoom: 18,
		attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, ' +
			'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
		id: 'mapbox/streets-v11',
		tileSize: 512,
		zoomOffset: -1
	}).addTo(mymap);

	var popup = L.popup();
	mymap.addLayer(markers);


</script>
{% endblock content %}